*
{
    margin: 0;
    padding: 0;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    background-color: aliceblue;
}
.logo
{
    margin-left: 20px;
    margin-top: 10px;
    
}
.lbt
{
    background-color: black;
    color: white;
    padding: 10px 20px;
border-radius: 20px;
}
.main-section h1
{
    margin-left: 230px;
    margin-top: 180px;
    font-size: 90px;
}
.sub1,.sub2,.sub3,.sub4
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sub1 ul,.sub2 ul,.sub3 ul,.sub4 ul
{
    list-style-type: none;
}
.main-div
{
    display: flex;
}
.sub1
{
    margin-left: 220px;
}
.sub2,.sub3,.sub4
{
    margin-left: 50px;
}
.main-div
{
    margin-top: 50px;
}
.music
{
    margin-top: 90px;
    margin-left: 230px;
}
.phone1,.phone2,.phone3,.phone4
{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.musc
{
    display: flex;
}
.phone1
{
    margin-left: 230px;
}
.phone2,.phone3,.phone4
{
    margin-left: 25px;
}
.musc{
    margin-top: 50px;
}
.bt button
{
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
width: 150px; 
height: 50px;  
margin-top: 40px;
margin-left: 780px;
border: 0cap;
}
.text
{
    margin-top: 50px;
    margin-left: 240px;
font-size: 22px;
font-weight: 300px;
line-height: 150px;
font-family: Arial, Helvetica, sans-serif;
font-family: ;
}
.mg1,.mg2,.mg3,.mg4,.mg5,.mg6
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt
{
    display: flex;
}
.mg1
{
    margin-left: 270px;
}
.mg2,.mg3,.mg4,.mg5,.mg6
{
    margin-left: 30px;
}
.txt
{
    margin-top: 10px;
}
.kv1,.kv2,.kv3
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.kk
{
    display: flex;
    margin-top: 10px;
}
.kv1
{
    margin-left:540px;
}
.kv2,.kv3
{
    margin-left: 50px;
}